[submodule "vendor/epresent"]
	path = vendor/epresent
	url = https://github.com/eschulte/epresent.git
[submodule "vendor/heroku-theme"]
	path = vendor/heroku-theme
	url = https://github.com/jonathanchu/heroku-theme.git
[submodule "vendor/org-download"]
	path = vendor/org-download
	url = https://github.com/abo-abo/org-download.git
