.mc-lists.el
auto-save-list/
places
url/
eshell/history
eshell/lastdir
projectile.cache
.DS_Store
/bookmarks
/games/
/var/
/all.SCORE
/custom.el
bin/
/.gitignore
/projectile-bookmarks.eld
/bbdb
/bbdb-vcard/
/recentf
*.elc
.cask/
/network-security.data
.org-id-locations
history
/tramp
/org-clock-save.el
/zel-history
